! URxvt Specific Stuff
URxvt.font: xft:hack:size=10
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.letterSpace: -1.5
URxvt.lineSpace: -1
Xcursor.theme: Breeze
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.iso14755: false
URxvt.iso14755_52: false

! Random Colors I Chose
urxvt*background: #ffffff
urxvt*foreground: #383a42
urxvt*cursorColor: #333333
urxvt*color0: #000000
urxvt*color1: #E45649
urxvt*color2: #32CD32	
urxvt*color3: #FFD551
urxvt*color4: #4078F2
urxvt*color5: #A626A4
urxvt*color6: #73C2FB
urxvt*color7: #333333
urxvt*color8: #2B2B2B
urxvt*color9: #e06c75
urxvt*color10: #6BDF6B	
urxvt*color11: #FFDE77
urxvt*color12: #6D9BFE
urxvt*color13: #C862C7
urxvt*color14: #A4D9FF
urxvt*color15: #474747
