! URxvt Specific Stuff
URxvt.font: xft:Hack:size=11:antialias=true:autohint=true,xft:Noto Sans Emoji:size=11:antialias=true:autohint=true
URxvt.letterSpace: -1
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.lineSpace: -1
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.saveLines: 200000

! Random Colors I Chose
*.background: #ffffff
*.foreground: #383a42
*.cursorColor: #333333
*.color0: #000000
*.color1: #E45649
*.color2: #32CD32
*.color3: #FFD551
*.color4: #4078F2
*.color5: #A626A4
*.color6: #73C2FB
*.color7: #333333
*.color8: #2B2B2B
*.color9: #e06c75
*.color10: #6BDF6B
*.color11: #FFDE77
*.color12: #6D9BFE
*.color13: #C862C7
*.color14: #A4D9FF
*.color15: #FFFFFF
